
# how to communicate with a9s data services:
export POSTGRESQL_SERVICE_BROKER_URL="<url>"
export BASE64ENCODED_POSTGRESQL_SERVICE_BROKER_USERNAME="<username>"
export BASE64ENCODED_POSTGRESQL_SERVICE_BROKER_PASSWORD="<password>"
export POSTGRESQL_BACKUP_MANAGER_URL="<url>"
export BASE64ENCODED_POSTGRESQL_BACKUP_MANAGER_USERNAME="<username>"
export BASE64ENCODED_POSTGRESQL_BACKUP_MANAGER_PASSWORD="<password>"

export MESSAGING_SERVICE_BROKER_URL="<url>"
export BASE64ENCODED_MESSAGING_SERVICE_BROKER_USERNAME="<username>"
export BASE64ENCODED_MESSAGING_SERVICE_BROKER_PASSWORD="<password>"
export MESSAGING_BACKUP_MANAGER_URL="<url>"
export BASE64ENCODED_MESSAGING_BACKUP_MANAGER_USERNAME="<username>"
export BASE64ENCODED_MESSAGING_BACKUP_MANAGER_PASSWORD="<password>"

export MARIADB_SERVICE_BROKER_URL="<url>"
export BASE64ENCODED_MARIADB_SERVICE_BROKER_USERNAME="<username>"
export BASE64ENCODED_MARIADB_SERVICE_BROKER_PASSWORD="<password>"
export MARIADB_BACKUP_MANAGER_URL="<url>"
export BASE64ENCODED_MARIADB_BACKUP_MANAGER_USERNAME="<username>"
export BASE64ENCODED_MARIADB_BACKUP_MANAGER_PASSWORD="<password>"

export LOGME2_SERVICE_BROKER_URL="<url>"
export BASE64ENCODED_LOGME2_SERVICE_BROKER_USERNAME="<username>"
export BASE64ENCODED_LOGME2_SERVICE_BROKER_PASSWORD="<password>"
export LOGME2_BACKUP_MANAGER_URL="<url>"
export BASE64ENCODED_LOGME2_BACKUP_MANAGER_USERNAME="<username>"
export BASE64ENCODED_LOGME2_BACKUP_MANAGER_PASSWORD="<password>"

export MONGODB_SERVICE_BROKER_URL="<url>"
export BASE64ENCODED_MONGODB_SERVICE_BROKER_USERNAME="<username>"
export BASE64ENCODED_MONGODB_SERVICE_BROKER_PASSWORD="<password>"
export MONGODB_BACKUP_MANAGER_URL="<url>"
export BASE64ENCODED_MONGODB_BACKUP_MANAGER_USERNAME="<username>"
export BASE64ENCODED_MONGODB_BACKUP_MANAGER_PASSWORD="<password>"

export PROMETHEUS_SERVICE_BROKER_URL="<url>"
export BASE64ENCODED_PROMETHEUS_SERVICE_BROKER_USERNAME="<username>"
export BASE64ENCODED_PROMETHEUS_SERVICE_BROKER_PASSWORD="<password>"
export PROMETHEUS_BACKUP_MANAGER_URL="<url>"
export BASE64ENCODED_PROMETHEUS_BACKUP_MANAGER_USERNAME="<username>"
export BASE64ENCODED_PROMETHEUS_BACKUP_MANAGER_PASSWORD="<password>"

export KEYVALUE_SERVICE_BROKER_URL="<url>"
export BASE64ENCODED_KEYVALUE_SERVICE_BROKER_USERNAME="<username>"
export BASE64ENCODED_KEYVALUE_SERVICE_BROKER_PASSWORD="<password>"
export KEYVALUE_BACKUP_MANAGER_URL="<url>"
export BASE64ENCODED_KEYVALUE_BACKUP_MANAGER_USERNAME="<username>"
export BASE64ENCODED_KEYVALUE_BACKUP_MANAGER_PASSWORD="<password>"

export SEARCH_SERVICE_BROKER_URL="<url>"
export BASE64ENCODED_SEARCH_SERVICE_BROKER_USERNAME="<username>"
export BASE64ENCODED_SEARCH_SERVICE_BROKER_PASSWORD="<password>"
export SEARCH_BACKUP_MANAGER_URL="<url>"
export BASE64ENCODED_SEARCH_BACKUP_MANAGER_USERNAME="<username>"
export BASE64ENCODED_SEARCH_BACKUP_MANAGER_PASSWORD="<password>"

# generate with: openssl rand -base64 32
export KUBE_BIND_COOKIE_SIGNING_KEY=""
export KUBE_BIND_COOKIE_ENCRYPTION_KEY=""

# these can be found in kubeconfig:
export KUBE_BIND_CA_CERTIFICATE=""
export KUBERNETES_API_EXTERNAL_ADDRESS=""

# use keycloak or something:
export KUBE_BIND_OIDC_ISSUER_CLIENT_ID="kube-bind"
export KUBE_BIND_OIDC_ISSUER_CLIENT_SECRET=""
export KUBE_BIND_OIDC_ISSUER_URL=""
export KUBE_BIND_BACKEND_HOST=""

export LETSENCRYPT_EMAIL_ADDRESS=""
